
@{
    ViewBag.Title = "Index";
}



<section id="featured">
    <!-- start slider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Slider -->
                @{
                    Html.RenderAction("SliderPartial", "Home");
                }
                <!-- end slider -->
            </div>
        </div>
    </div>
</section>
<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-cta">
                    <div class="cta-text">
                        <h2><span>MotorCycle</span> online sales shop.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="heading">Contracted Brands</h4>
                <div class="row">
                    <section id="projects">
                        <ul id="thumbs" class="portfolio">
                            <!-- Item Project and Filter Name -->
                            <li class="col-lg-2">
                                <div>
                                    <!-- Thumb Image and Description -->
                                    <img style="width:250px;height:100px;" src="~/Uploads/Brands/4ae25bfb-24b0-4d35-99cd-5ed86b7a19c0.jpg">
                                </div>
                            </li>
                            <li class="col-lg-2">
                                <div class="item-thumbs">
                                    <!-- Thumb Image and Description -->
                                    <img style="width:250px;height:100px;" src="~/Uploads/Brands/5ab9ceab-207d-4e17-ab48-323fd2a8e922.jpg">
                                </div>
                            </li>
                            <li class="col-lg-2">
                                <div class="item-thumbs">
                                    <!-- Thumb Image and Description -->
                                    <img style="width:250px;height:100px;" src="~/Uploads/Brands/96f3450c-f910-4632-b7d7-956533d4f471.jpg">
                                </div>
                            </li>
                            <li class="col-lg-2">
                                <div class="item-thumbs">
                                    <!-- Thumb Image and Description -->
                                    <img style="width:250px;height:100px;" src="~/Uploads/Brands/29714839-7373-44b8-b9d4-be65030a7cb4.jpg">
                                </div>
                            </li>
                            <li class="col-lg-2">
                                <div class="item-thumbs">
                                    <!-- Thumb Image and Description -->
                                    <img style="width:250px;height:100px;" src="~/Uploads/Brands/b5e09fb2-6b88-45fc-a223-6212ffc75f1d.jpg">
                                </div>
                            </li>
                            <li class="col-lg-2">
                                <div class="item-thumbs">
                                    <!-- Thumb Image and Description -->
                                    <img style="width:250px;height:100px;" src="~/Uploads/Brands/c557595f-763e-4884-9093-b2ed6895a81a.jpg">
                                </div>
                            </li>
                            <li class="col-lg-2">
                                <div class="item-thumbs">
                                    <!-- Thumb Image and Description -->
                                    <img style="width:250px;height:100px;" src="~/Uploads/Brands/caf9b0b2-0504-4009-9637-3e24f3275964.jpg">
                                </div>
                            </li>

                            <li class="col-lg-2">
                                <div>
                                    <!-- Thumb Image and Description -->
                                    <img style="width:250px;height:100px;" src="~/Uploads/Brands/d0fb158a-4ac6-414c-b7b5-2466cf9cca02.jpg">
                                </div>
                            </li>
                            <li class="col-lg-2">
                                <div>
                                    <!-- Thumb Image and Description -->
                                    <img style="width:250px;height:100px;" src="~/Uploads/Brands/d018b85d-639b-4660-8f12-8f82e8071c99.jpg">
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>

    </div>
</section>

