<aside>
    <div id="sidebar" class="nav-collapse ">
        <ul class="sidebar-menu">

            <li class="active">
                <a class="" href="/Categories/Index/">
                    <i class="icon_house_alt"></i>
                    <span>Categories</span>
                </a>
            </li>

            <li class="active">
                <a class="" href="/Brands/Index/">
                    <i class="icon_house_alt"></i>
                    <span>Brands</span>
                </a>
            </li>

            <li class="active">
                <a class="" href="/DealerProducts/Index/">
                    <i class="icon_house_alt"></i>
                    <span>Dealers Products</span>
                </a>
            </li>

            <li class="active">
                <a class="" href="/Dealers/Index/">
                    <i class="icon_house_alt"></i>
                    <span>Dealers</span>
                </a>
            </li>

            <li class="active">
                <a class="" href="/Products/Index/">
                    <i class="icon_house_alt"></i>
                    <span>Products</span>
                </a>
            </li>

            <li class="active">
                <a class="" href="/Users/Index/">
                    <i class="icon_house_alt"></i>
                    <span>Users</span>
                </a>
            </li>

            <li class="active">
                <a class="" href="/Sliders/Index/">
                    <i class="icon_house_alt"></i>
                    <span>Slider</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
